
body {
    background-color: rgb(50, 46, 46);
    color: white;
    box-sizing: border-box;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

input {
    color: black;
    --placeholder-color: grey
}

input::placeholder {
    color: var(--placeholder-color)
}

.header {
    display: flex;
    justify-content: space-around;
}

.bookshelf {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.book {
    height: 16rem;
    width: 10rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(32, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    overflow: hidden; 
    box-shadow: -5px -3px 10px rgb(18, 18, 18);
    transition: 0.3s ease-in-out;
}

.book:hover {
    scale: 1.1;
    box-shadow: 0px -1px 8px rgb(150, 118, 70);
    transform: translate(0rem, 0.5rem);
}

.title {
    height: 30%;
    margin-inline: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.author {
    align-self: flex-start;
}

.info {
    align-self: flex-start;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.add-book--btn {
    position: fixed;
    top: 3rem;
    left: 2rem;
    cursor: pointer;
    height: 6rem;
    width: 4rem;
    border-radius: 0.5rem;
    background-color: rgb(32, 30, 30);
    border: none;
    box-shadow: -5px -3px 10px rgb(18, 18, 18);
}

.add-book--btn svg {
    color: rgb(123, 156, 123);
    transition: transform 0.5s cubic-bezier(.9,.08,.42,.88), fill 0.5s ease;
}

.add-book--btn.close svg {
    transform: rotate(135deg);
    color: rgb(150, 58, 42);
}

/* Add Book Form */
.add-book--form {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 3rem;
    left: 6rem;
    width: 20rem;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: rgba(222, 210, 209, 0.25);
    backdrop-filter: blur(15px);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.add-book--form.open {
    opacity: 1;
    visibility: visible;
}

.add-book--form input[type="text"], .add-book--form input[type="number"] {
    font-size: 1rem;
    border-radius: 1rem;
    padding-inline: 1rem;
}

input::-webkit-outer-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.read-status--group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 10rem;
}

.read-status--group label {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    width: 100%;
    color: rgb(46, 4, 4);
    transition: 0.2s ease;
}

.read-status--group label[for="not-read"] {
    background-color: #E76D6D; 
}

.read-status--group label[for="reading-now"] {
    background-color: #FCA17D; 
}

.read-status--group label[for="read"] {
    background-color: #F9DBBD; 
}

.read-status--group label:hover {
    color: rgb(255, 255, 255)
}

.read-status--group input[type="radio"]:checked + label {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
}

.read-status--group input[type="radio"] {
    appearance: none;
    position: absolute; 
}

.add-book--submit {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.8rem;
    padding-inline: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(86, 156, 86, 0.5);
    color: white;
    box-shadow: 0px 1px 3px rgb(37, 37, 37);
    transition: 0.1s ease-out;
}

.add-book--submit:hover {
    background-color: rgba(77, 182, 77, 0.5);
}

.add-book--submit:active {
    background-color: rgba(77, 182, 77, 0.5);
    box-shadow: none;
    scale: 0.98;
    translate: 0px 3px;
}
/* Add Book Form */


/* Delete Button */
.delete-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: transparent;
    color: rgb(150, 58, 42);
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn .open-trash {
    opacity: 1;
    transform: rotate(0deg); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.delete-btn .closed-trash {
    opacity: 0;
    transform: rotate(-15deg); 
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
}

.delete-btn:hover .open-trash {
    opacity: 0; 
    transform: rotate(-15deg); 
}

.delete-btn:hover .closed-trash {
    color: rgb(163, 29, 29);
    opacity: 1; 
    transform: rotate(0deg); 
}
/* Delete Button */

/* Read Status */
.status-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.status-stripe {
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem 0.25rem 0 0; 
    transition: background-color 0.3s;
    z-index: 1; 
    background-color: grey; 
}

.status-menu {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0.45rem;
    transform: translateX(-50%); 
    background-color: rgba(113, 110, 106, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-direction: column;
    gap: 0.5rem;
    width: 10rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2; 
}

.status-container:hover .status-menu {
    display: flex;
}

.read-status--btn {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
}
/* Read Status */
